In [234]:
# Import dependencies and setup

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as matplotlib
import matplotlib.dates as matplotlibdates
import plotly.express as px
import plotly
import plotly.io as pio

In [235]:
# Read .csv files and store as DataFrame

aus_ev_path = "Resources/aus_ev_sales.csv"
aus_ev_df = pd.read_csv(aus_ev_path)

state_ev_path = "Resources/aus_state_ev_sales.csv"
state_ev_df = pd.read_csv(state_ev_path)

global_ev_path = "Resources/global_ev_sales.csv"
global_ev_df = pd.read_csv(global_ev_path)

charging_stations_path = "Resources/aus_state_charging_stations.csv"
charging_stations_df = pd.read_csv(charging_stations_path)

In [237]:
# Preview aus_ev_df (sales no. of electric/hybrid vs. petrol vehicles, 2011â€“2019)

aus_ev_df

   year  EV_PHEV  total_vehicles    EV%
0  2019     6718         1062867  0.600
1  2018     2216         1153111  0.200
2  2017     2287         1189116  0.190
3  2016     1369         1178133  0.120
4  2015     1771         1155408  0.150
5  2014     1322         1113224  0.120
6  2013      293         1136227  0.026
7  2012      253         1112030  0.023
8  2011       49         1008437  0.005

In [238]:
# Statistical analysis on aus_ev_df

total_ev_sales = aus_ev_df['EV_PHEV'].sum()
total_ev_sales = 16278

total_petrol_sales = aus_ev_df['total_vehicles'].sum()
total_petrol_sales = 10108553

In [241]:
# Calculate cumulative EV_PHEV + cumulative total_vehicles sales and save to DataFrame

aus_ev_df['cumulative_EV_PHEV'] = aus_ev_df['EV_PHEV'].cumsum()
aus_ev_df['cumulative_total_vehicles'] = aus_ev_df['total_vehicles'].cumsum()
aus_ev_df = aus_ev_df.sort_values(by=['cumulative_EV_PHEV'], ascending=False)
aus_ev_df

,year,EV_PHEV,total_vehicles,EV%,cumulative_EV_PHEV,cumulative_total_vehicles
0,2019,6718,1062867,0.600,16278,10108553
1,2018,2216,1153111,0.200,9560,9045686
2,2017,2287,1189116,0.190,7344,7892575
3,2016,1369,1178133,0.120,5057,6703459
4,2015,1771,1155408,0.150,3688,5525326
5,2014,1322,1113224,0.120,1917,4369918
6,2013,293,1136227,0.026,595,3256694
7,2012,253,1112030,0.023,302,2120467
8,2011,49,1008437,0.005,49,1008437

In [248]:
# Plot bar graph

x = aus_ev_df['year']
y = aus_ev_df['EV_PHEV']

fig = px.bar(x=x, y=y, labels=dict(x="Year", y="# sold"),
             title='Total number of Electric (EV) and Plug-in Hybrid (PHEV) vehicles sold in Australia')

fig.update_layout(
    font_family="Helvetica",
    font_color="black",
    title_font_family="Helvetica",
    title_font_color="black",
    legend_title_font_color="black")

fig.layout.template = 'presentation'

fig.update_xaxes(title_font_family="Helvetica")
plotly.offline.plot(fig, filename='/Users/minoperic/Data Analytics/Data Investigations/australian-electric-vehicle-sales/fig_1.html')
fig.show()

In [247]:
# Plot bar graph

x = aus_ev_df['year']
y = aus_ev_df['total_vehicles']

fig = px.bar(x=x, y=y, labels=dict(x="Year", y="# sold"),
             title='Total number of vehicles sold in Australia')

fig.update_layout(
    font_family="Helvetica",
    font_color="black",
    title_font_family="Helvetica",
    title_font_color="black",
    legend_title_font_color="black")

fig.layout.template = 'presentation'

fig.update_xaxes(title_font_family="Helvetica")
plotly.offline.plot(fig, filename='/Users/minoperic/Data Analytics/Data Investigations/australian-electric-vehicle-sales/fig_2.html')
fig.show()

In [ ]:
# Plot total EV vs. total vehicles (2 x line)

EV_cumulative = aus_ev_df['cumulative_EV_PHEV']
total_cumulative =

#fig = px.line(x=year, y=cumulative, color=px.Constant("Cumulative"), 
#               labels=dict(x="Fruit", y="Amount", color="Period"),
#               title='Total number of Electric (EV) and Plug-in Hybrid (PHEV) vehicles sold in Australia')

In [11]:
# Preview state_ev_df (no. of EV/Hybrid vehicles sold per state [per 10,000 vehicles sold])

state_ev_df

  State  EV_per_10000
0   NSW            10
1   VIC             9
2   QLD             7
3    SA            21
4    WA             8
5   TAS             3
6    NT             1
7   ACT            21

In [28]:
# Statistical analysis on aus_state_ev_df

aus_per_10000 = state_ev_df['EV_per_10000'].sum()
aus_per_10000 = 80

In [13]:
# Preview global_ev_df (total % of EV sold globally â€“ 2019)

global_ev_df

       country percent
0       Norway   10.7%
1  Netherlands    1.7%
2        China   0.94%
3       Sweden    0.6%
4          USA   0.45%
5    Australia    0.2%

In [41]:
# Preview charging_stations_df (no. of EV charging stations per state)

charging_stations_df

  state  charging_stations
0   NSW                161
1   VIC                216
2   QLD                162
3    SA                 76
4    WA                122
5   TAS                 21
6    NT                  5
7   ACT                 20

In [44]:
# Statistical analysis on charging_stations_df

aus_charging_stations = charging_stations_df['charging_stations'].sum()
aus_charging_stations = 783