In [122]:
# Import dependencies and setup

import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as matplotlib
import matplotlib.dates as matplotlibdates
import plotly.express as px
import plotly.io as pio
# import datetime
# from matplotlib.dates import date2num

In [40]:
# Read .csv files and store as DataFrame

aus_ev_path = "Resources/aus_ev_sales.csv"
aus_ev_df = pd.read_csv(aus_ev_path)

state_ev_path = "Resources/aus_state_ev_sales.csv"
state_ev_df = pd.read_csv(state_ev_path)

global_ev_path = "Resources/global_ev_sales.csv"
global_ev_df = pd.read_csv(global_ev_path)

charging_stations_path = "Resources/aus_state_charging_stations.csv"
charging_stations_df = pd.read_csv(charging_stations_path)

In [12]:
# Preview aus_ev_df (sales no. of electric/hybrid vs. petrol vehicles, 2011â€“2019)

aus_ev_df

   year  EV_PHEV total_vehicles    EV%
0  2019     6718      1,062,867  0.600
1  2018     2216      1,153,111  0.200
2  2017     2287      1,189,116  0.190
3  2016     1369      1,178,133  0.120
4  2015     1771      1,155,408  0.150
5  2014     1322      1,113,224  0.120
6  2013      293      1,136,227  0.026
7  2012      253      1,112,030  0.023
8  2011       49      1,008,437  0.005

In [61]:
# Remove blank columns

aus_ev_df = aus_ev_df.dropna(axis=1, how='all')
aus_ev_df

   year  EV_PHEV total_vehicles    EV%
0  2019     6718      1,062,867  0.600
1  2018     2216      1,153,111  0.200
2  2017     2287      1,189,116  0.190
3  2016     1369      1,178,133  0.120
4  2015     1771      1,155,408  0.150
5  2014     1322      1,113,224  0.120
6  2013      293      1,136,227  0.026
7  2012      253      1,112,030  0.023
8  2011       49      1,008,437  0.005

In [25]:
# Statistical analysis on aus_ev_df

total_ev_sales = aus_ev_df['EV_PHEV'].sum()
total_ev_sales = 16278

total_petrol_sales = aus_ev_df['total_vehicles'].sum()
total_petrol_sales = 10108553

In [124]:
# Plot bar graph

year = aus_ev_df['year']
amount = aus_ev_df['EV_PHEV']
 
fig = px.bar(x=year, y=amount, labels=dict(x="Year", y="Amount"), 
             title='Number of Electric (EV) and Plug-in Hybrid (PHEV) vehicles sold in Australia')
fig.update_layout(
    font_family="Helvetica",
    font_color="black",
    title_font_family="Helvetica",
    title_font_color="black",
    legend_title_font_color="black")

fig.layout.template = 'presentation'

fig.update_xaxes(title_font_family="Helvetica")
fig.write_image('fig_1.png', scale=2)
fig.show()

ValueError:
Image export using the "kaleido" engine requires the kaleido package,
which can be installed using pip:
    $ pip install -U kaleido

In [11]:
# Preview state_ev_df (no. of EV/Hybrid vehicles sold per state [per 10,000 vehicles sold])

state_ev_df

  State  EV_per_10000
0   NSW            10
1   VIC             9
2   QLD             7
3    SA            21
4    WA             8
5   TAS             3
6    NT             1
7   ACT            21

In [28]:
# Statistical analysis on aus_state_ev_df

aus_per_10000 = state_ev_df['EV_per_10000'].sum()
aus_per_10000 = 80

In [13]:
# Preview global_ev_df (total % of EV sold globally â€“ 2019)

global_ev_df

       country percent
0       Norway   10.7%
1  Netherlands    1.7%
2        China   0.94%
3       Sweden    0.6%
4          USA   0.45%
5    Australia    0.2%

In [41]:
# Preview charging_stations_df (no. of EV charging stations per state)

charging_stations_df

  state  charging_stations
0   NSW                161
1   VIC                216
2   QLD                162
3    SA                 76
4    WA                122
5   TAS                 21
6    NT                  5
7   ACT                 20

In [44]:
# Statistical analysis on charging_stations_df

aus_charging_stations = charging_stations_df['charging_stations'].sum()
aus_charging_stations = 783